# NAME: AI
#
# SOURCE_1: https://github.com/ConnersHua/RuleGo/blob/master/Surge/Ruleset/Extra/AI.list
# VERSION: 32e42c0
#
# UPDATED: 2026-07-27
#
# apple intelligence
host,apple-relay.apple.com,AI
host,apple-relay.cloudflare.com,AI
host,apple-relay.fastly-edge.com,AI
host,cp4.cloudflare.com,AI
host,gspe1-ssl.ls.apple.com,AI
host,guzzoni.apple.com,AI
host-suffix,apps.mzstatic.com,AI
host-suffix,gateway.icloud.com,AI
host-suffix,smoot.apple.com,AI
# anthropic
# > claude
host,anthropic-com.ghost.io,AI
host,anthropic.auth0.com,AI
host,anthropic.com.cdn.cloudflare.net,AI
host,servd-anthropic-website.b-cdn.net,AI
host-suffix,anthropic.com,AI
host-suffix,clau.de,AI
host-suffix,claude.ai,AI
host-suffix,claude.com,AI
host-suffix,claudemcpclient.com,AI
host-suffix,claudemcpcontent.com,AI
host-suffix,claudeusercontent.com,AI
# openai
# > chatgpt
host,api-iam.intercom.io,AI
host,api.statsig.com,AI
host,o33249.ingest.sentry.io,AI
host,openaiapi-site.azureedge.net,AI
host-keyword,openaiapi,AI
host-keyword,openaicom,AI
host-suffix,chat.com,AI
host-suffix,chatgpt.com,AI
host-suffix,livekit.cloud,AI
host-suffix,oaistatic.com,AI
host-suffix,oaiusercontent.com,AI
host-suffix,openai.com,AI
host-suffix,sora.com,AI
# openrouter
host-suffix,openrouter.ai,AI
# cloudflare
# > ai gateway
host,gateway.ai.cloudflare.com,AI
# cursor
host-suffix,cursor-cdn.com,AI
host-suffix,cursor.com,AI
host-suffix,cursor.sh,AI
host-suffix,cursorapi.com,AI
# zed
host-suffix,zed.dev,AI
# groq
host-suffix,groq.com,AI
# jetbrains ai
host-suffix,grazie.ai,AI
# meta
host-suffix,meta.ai,AI
host,imagine.meta.com,AI
# microsoft
# > copilot
host,copilot.microsoft.com,AI
host,sydney.bing.com,AI
host,www.bing.com,AI
# > github copilot
host-suffix,githubcopilot.com,AI
# perplexity
host,pplx-res.cloudinary.com,AI
host-suffix,perplexity.ai,AI
host-suffix,pplx.ai,AI
# xai
host-suffix,grok.com,AI
host-suffix,x.ai,AI
# doubao
# > doubao dola
host-suffix,byteoversea.com,AI
host-suffix,cici.com,AI
host-suffix,ciciai.com,AI
host-suffix,dola.com,AI