# NAME: DNS Leak
#
# SOURCE: https://kelee.one/Tool/Loon/Lpx/Prevent_DNS_Leaks.lpx
# VERSION: 2026-06-01 17:11:35
#
# UPDATED: 2026-07-27
#
host,ip-scan.adspower.net,dns_leak
host,ipv4.ping0.cc,dns_leak
host,ipv6.ping0.cc,dns_leak
host-suffix,astrill.com,dns_leak
host-suffix,astrill.org,dns_leak
host-suffix,browserleaks.com,dns_leak
host-suffix,browserleaks.org,dns_leak
host-suffix,dnsleak.asn247.net,dns_leak
host-suffix,dnsleak.com,dns_leak
host-suffix,dnsleaktest.com,dns_leak
host-suffix,expressvpn.com,dns_leak
host-suffix,ipapi.co,dns_leak
host-suffix,ipleak.net,dns_leak
host-suffix,nordvpn.com,dns_leak
host-suffix,perfect-privacy.com,dns_leak
host-suffix,pixelscan.net,dns_leak
host-suffix,surfshark.com,dns_leak
host-suffix,surfsharkdns.com,dns_leak
host-suffix,vpnunlimited.com,dns_leak
host-suffix,whoer.net,dns_leak
host-suffix,whrq.net,dns_leak