# NAME: GitHub
#
# SOURCE: https://github.com/blackmatrix7/ios_rule_script/tree/master/rule/QuantumultX/GitHub
# VERSION: 0fa6078
#
# UPDATED: 2026-07-27
#
host-suffix,atom.io,GitHub
host-suffix,dependabot.com,GitHub
host-suffix,ghcr.io,GitHub
host-suffix,git.io,GitHub
host-suffix,github-atom-io-herokuapp-com.freetls.fastly.net,GitHub
host-suffix,github-avatars.oss-cn-hongkong.aliyuncs.com,GitHub
host-suffix,github-cloud.s3.amazonaws.com,GitHub
host-suffix,github.blog,GitHub
host-suffix,github.com,GitHub
host-suffix,github.community,GitHub
host-suffix,github.dev,GitHub
host-suffix,github.io,GitHub
host-suffix,githubapp.com,GitHub
host-suffix,githubassets.com,GitHub
host-suffix,githubcopilot.com,GitHub
host-suffix,githubhackathon.com,GitHub
host-suffix,githubnext.com,GitHub
host-suffix,githubpreview.dev,GitHub
host-suffix,githubstatus.com,GitHub
host-suffix,githubuniverse.com,GitHub
host-suffix,githubusercontent.com,GitHub
host-suffix,myoctocat.com,GitHub
host-suffix,npm.community,GitHub
host-suffix,npmjs.com,GitHub
host-suffix,npmjs.org,GitHub
host-suffix,opensource.guide,GitHub
host-suffix,rawgit.com,GitHub
host-suffix,rawgithub.com,GitHub
host-suffix,repo.new,GitHub
host-suffix,thegithubshop.com,GitHub
host-keyword,github,GitHub