# NAME: Proton Mail
#
# SOURCE: https://github.com/blackmatrix7/ios_rule_script/tree/master/rule/QuantumultX/Protonmail
# VERSION: 0fa6078
#
# UPDATED: 2026-07-27
#
host-suffix,pm.me,ProtonMail
host-suffix,proton.me,ProtonMail
host-suffix,protonmail.ch,ProtonMail
host-suffix,protonmail.com,ProtonMail
host-suffix,protonstatus.com,ProtonMail