# NAME: Reddit
#
# SOURCE: https://github.com/blackmatrix7/ios_rule_script/tree/master/rule/QuantumultX/Reddit
# VERSION: a75313d
#
# UPDATED: 2026-07-27
#
host-suffix,redd.it,Reddit
host-suffix,reddit.com,Reddit
host-suffix,redditmail.com,Reddit
host-suffix,redditmedia.com,Reddit
host-suffix,redditstatic.com,Reddit
host-suffix,reddituploads.com,Reddit
host-suffix,reddituploads.com.cdn-cf.behance.net,Reddit
host-suffix,reddituploads.com.cdn-cf.dropbox.com,Reddit