# NAME: Global Streaming
#
# SOURCE: https://ruleset.skk.moe/List/non_ip/stream.conf
# VERSION: 2026-06-30T21:42:09.495Z
#
# UPDATED: 2026-07-26
#
host,44wilhpljf.execute-api.ap-southeast-1.amazonaws.com
host,4gtvfreepcvod-cds.cdn.hinet.net
host,akmcdnoversea-tw.inter.ptqy.gitv.tv
host,ana.video.friday.tw
host,apm-misaka.biliapi.net
host,athome.fandango.com
host,bbc.mp-pxcdn.com
host,bcbolt446c5271-a.akamaihd.net
host,cache.video.iqiyi.com
host,cbsi.live.ott.irdeto.com
host,cbsplaylistserver.aws.syncbak.com
host,cbsservice.aws.syncbak.com
host,cdn.registerdisney.go.com
host,chuangcachecdnoversea-tw.inter.ptqy.gitv.tv
host,d151l6v8er5bdm.cloudfront.net
host,d184dfn36gombl.cloudfront.net
host,d1k2us671qcoau.cloudfront.net
host,d1sgwhnao7452x.cloudfront.net
host,d1v5ir2lpwr8os.cloudfront.net
host,d1xfray82862hr.cloudfront.net
host,d22qjgkvxw22r6.cloudfront.net
host,d25xi40x97liuc.cloudfront.net
host,d27xxe7juh1us6.cloudfront.net
host,d2anahhhmp1ffz.cloudfront.net
host,d3196yreox78o9.cloudfront.net
host,d349g9zuie06uo.cloudfront.net
host,d3c7rimkq79yfu.cloudfront.net
host,dashasiafox.akamaized.net
host,dfp6rglgjqszk.cloudfront.net
host,dmqdd6hw24ucf.cloudfront.net
host,ds-linear-abematv.akamaized.net
host,edge.api.brightcove.com
host,gamer-cds.cdn.hinet.net
host,gamer2-cds.cdn.hinet.net
host,hamifans.emome.net
host,hbolb.onwardsmg.com
host,hbounify-prod.evergent.com
host,hls-amt.itunes.apple.com
host,hls.itunes.apple.com
host,itvpnpmobile-a.akamaihd.net
host,linear.tv.apple.com
host,manifest.prod.boltdns.net
host,np-edge.itunes.apple.com
host,ocvideo.apple.com
host,play-edge.itunes.apple.com
host,players.brightcove.net
host,prod-api.crackle.com
host,staticasiafox.akamaized.net
host,tubi.tv
host,tubitv.com
host,upos-bstar-mirrorakam.akamaized.net
host,upos-bstar1-mirrorakam.akamaized.net
host,uts-api.itunes.apple.com
host,video.friday.tw
host,vudu.com
host,www.tubi.tv
host,www.tubitv.com
host,youtube.googleapis.com
host,youtubei.googleapis.com
host-suffix,4gtv.tv
host-suffix,5itv.tv
host-suffix,abema-tv.com
host-suffix,abema.io
host-suffix,abema.tv
host-suffix,aiv-cdn.net
host-suffix,aiv-delivery.net
host-suffix,amazonprimevideos.com
host-suffix,amazonvideo.cc
host-suffix,amazonvideo.com
host-suffix,amazonvideodirect.cc
host-suffix,ameba.jp
host-suffix,amebame.com
host-suffix,amebaownd.com
host-suffix,amebaowndme.com
host-suffix,ameblo.jp
host-suffix,ani.gamer.com.tw
host-suffix,api.gamer.com.tw
host-suffix,applemusic.com
host-suffix,atv-ps.amazon.com
host-suffix,avodmp4s3ww-a.akamaihd.net
host-suffix,bahamut.com.tw
host-suffix,bamgrid.com
host-suffix,bbc.co.uk
host-suffix,bbci.co.uk
host-suffix,bilibili.tv
host-suffix,biliintl.com
host-suffix,byspotify.com
host-suffix,byteoversea.com
host-suffix,c4assets.com
host-suffix,cbsaavideo.com
host-suffix,cbsi.com
host-suffix,cbsivideo.com
host-suffix,channel4.com
host-suffix,channel5.com
host-suffix,dazn-api.com
host-suffix,dazn.com
host-suffix,dazndn.com
host-suffix,dca-ll-livedazn-dznlivejp.s.llnwi.net
host-suffix,dcalivedazn.akamaized.net
host-suffix,dcblivedazn.akamaized.net
host-suffix,deezer.com
host-suffix,disco-api.com
host-suffix,discomax.com
host-suffix,discoveryplus.co.uk
host-suffix,discoveryplus.com
host-suffix,discoveryplus.in
host-suffix,disney-plus.net
host-suffix,disneyplus.com
host-suffix,disneystreaming.com
host-suffix,dmc.nico
host-suffix,dmm-extension.com
host-suffix,dmm.co.jp
host-suffix,dmm.com
host-suffix,dnitv.com
host-suffix,dokusho-ojikan.jp
host-suffix,dssott.com
host-suffix,dzcdn.net
host-suffix,encoretvb.com
host-suffix,ext-twitch.tv
host-suffix,fanfox.net
host-suffix,fls-na.amazon.com
host-suffix,fox.com
host-suffix,foxdcg.com
host-suffix,foxplus.com
host-suffix,googlevideo.com
host-suffix,hayabusa.dev
host-suffix,hayabusa.io
host-suffix,hayabusa.media
host-suffix,hbo.com
host-suffix,hboasia.com
host-suffix,hbogo.com
host-suffix,hbogoasia.com
host-suffix,hbogoasia.hk
host-suffix,hbogoasia.id
host-suffix,hbogoasia.ph
host-suffix,hbogoasia.sg
host-suffix,hbogoasia.tw
host-suffix,hbomax.com
host-suffix,hbomaxcdn.com
host-suffix,hbonow.com
host-suffix,himalaya.com
host-suffix,hulu.com
host-suffix,hulu.tv
host-suffix,hulu.us
host-suffix,huluim.com
host-suffix,hulustream.com
host-suffix,ibytedtos.com
host-suffix,indazn.com
host-suffix,indaznlab.com
host-suffix,intl-rcd.iqiyi.com
host-suffix,intl-subscription.iqiyi.com
host-suffix,intl.iqiyi.com
host-suffix,ipstatp.com
host-suffix,iq.com
host-suffix,isnssdk.com
host-suffix,itv.com
host-suffix,joox.com
host-suffix,jtvnw.net
host-suffix,kfs.io
host-suffix,kk.stream
host-suffix,kkbox-prime.com
host-suffix,kkbox.com
host-suffix,kkbox.com.tw
host-suffix,kktix.com
host-suffix,kktv.com.tw
host-suffix,kktv.me
host-suffix,linetv.tw
host-suffix,location-plus.nhk.jp
host-suffix,mangafox.me
host-suffix,max.com
host-suffix,media-amazon.com
host-suffix,muscdn.com
host-suffix,musical.ly
host-suffix,my5.tv
host-suffix,mytvsuper.com
host-suffix,netflix.ca
host-suffix,netflix.com
host-suffix,netflix.com.edgesuite.net
host-suffix,netflix.net
host-suffix,nflxext.com
host-suffix,nflximg.com
host-suffix,nflximg.net
host-suffix,nflxsearch.net
host-suffix,nflxso.net
host-suffix,nflxvideo.net
host-suffix,nicovideo.jp
host-suffix,nowe.com
host-suffix,ocnttv.com
host-suffix,overcast.fm
host-suffix,pandora.com
host-suffix,paramountplus.com
host-suffix,pbs.org
host-suffix,peacocktv.com
host-suffix,phprcdn.com
host-suffix,pluto.tv
host-suffix,pornhub.com
host-suffix,pornhubpremium.com
host-suffix,prime-video.com
host-suffix,primevideo.cc
host-suffix,primevideo.com
host-suffix,primevideo.info
host-suffix,primevideo.org
host-suffix,primevideo.tv
host-suffix,production-public.tubi.io
host-suffix,pscdn.co
host-suffix,psg.cdn.hgc.com.hk
host-suffix,scdn.co
host-suffix,sho.com
host-suffix,showtime.com
host-suffix,skyking.com.tw
host-suffix,smartmediarep.com
host-suffix,socdm.com
host-suffix,soundcloud.com
host-suffix,spoti.fi
host-suffix,spotify-com.akamaized.net
host-suffix,spotify-everywhere.com
host-suffix,spotify.com
host-suffix,spotify.design
host-suffix,spotifycdn.com
host-suffix,spotifycdn.net
host-suffix,spotifycharts.com
host-suffix,spotifycodes.com
host-suffix,spotifyforbrands.com
host-suffix,spotifyjobs.com
host-suffix,spotifynewsroom.jp
host-suffix,spotilocal.com
host-suffix,theplatform.com
host-suffix,tidal.com
host-suffix,tidalhifi.com
host-suffix,tik-tokapi.com
host-suffix,tiktok.com
host-suffix,tiktok.us
host-suffix,tiktokv.com
host-suffix,tiktokv.us
host-suffix,tiktokw.com
host-suffix,tospotify.com
host-suffix,ttvnw.net
host-suffix,tv.naver.com
host-suffix,tvb.com
host-suffix,tver.jp
host-suffix,tvlicensing.co.uk
host-suffix,twitch.tv
host-suffix,twitchcdn.net
host-suffix,twitchsvc.net
host-suffix,uplynk.com
host-suffix,viblast.com
host-suffix,viu.com
host-suffix,viu.now.com
host-suffix,viu.tv
host-suffix,wetv.vip
host-suffix,wetvinfo.com
host-suffix,winticket.jp
host-suffix,withyoutube.com
host-suffix,youtube-nocookie.com
host-suffix,youtube.com
host-suffix,youtubeeducation.com
host-suffix,youtubegaming.com
host-suffix,youtubekids.com
host-keyword,-spotify-com
host-keyword,-tiktokcdn-com
host-keyword,apiproxy-device-prod-nlb-
host-keyword,avoddashs
host-keyword,bbcfmt
host-keyword,dualstack.apiproxy-
host-keyword,dualstack.ichnaea-web-
host-keyword,jooxweb-api
host-keyword,netflixdnstest
host-keyword,nowtv100
host-keyword,rthklive
host-keyword,tvbanywhere
host-keyword,uk-live
host-keyword,voddazn
user-agent,*Spotify*
user-agent,AbemaTV*
user-agent,All4*
user-agent,Anime*
user-agent,AppleTV*
user-agent,Argo*
user-agent,BBCiPlayer*
user-agent,com.apple.tv*
user-agent,com.google.ios.youtube*
user-agent,com.google.ios.youtubemusic*
user-agent,com.kktv.ios.kktv*
user-agent,DAZN*
user-agent,Deezer*
user-agent,discovery+*
user-agent,Disney+*
user-agent,DPlus*
user-agent,encoreTVB*
user-agent,FOX NOW*
user-agent,FOXPlus*
user-agent,HBO NOW*
user-agent,HBOMAX*
user-agent,Himalaya*
user-agent,Hulu*
user-agent,HWTVMobile*
user-agent,InstantVideo.US*
user-agent,ITV_Player*
user-agent,JOOX*
user-agent,KKTV*
user-agent,LINE TV*
user-agent,My5*
user-agent,mytv*
user-agent,Naver TV*
user-agent,Niconico*
user-agent,Overcast*
user-agent,Pandora*
user-agent,PBS*
user-agent,PeacockMobile*
user-agent,PPlus*
user-agent,Prime Video*
user-agent,SoundCloud*
user-agent,TaiwanGood*
user-agent,TIDAL*
user-agent,TikTok*
user-agent,TVer-Release*
user-agent,Viu*
user-agent,WeMusic*
user-agent,WeTV*
user-agent,YouTube*
user-agent,YouTubeMusic*