# NAME: TLD Not CN
#
# SOURCE: https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/tld-not-cn.txt
# VERSION: daily
#
# UPDATED: 2026-07-27
#
host-suffix,gov,TLD_Not_CN
host-suffix,mil,TLD_Not_CN
host-suffix,edu,TLD_Not_CN
host-suffix,ac,TLD_Not_CN
host-suffix,ad,TLD_Not_CN
host-suffix,ae,TLD_Not_CN
host-suffix,af,TLD_Not_CN
host-suffix,ag,TLD_Not_CN
host-suffix,ai,TLD_Not_CN
host-suffix,al,TLD_Not_CN
host-suffix,am,TLD_Not_CN
host-suffix,ao,TLD_Not_CN
host-suffix,aq,TLD_Not_CN
host-suffix,ar,TLD_Not_CN
host-suffix,as,TLD_Not_CN
host-suffix,at,TLD_Not_CN
host-suffix,au,TLD_Not_CN
host-suffix,aw,TLD_Not_CN
host-suffix,ax,TLD_Not_CN
host-suffix,az,TLD_Not_CN
host-suffix,ba,TLD_Not_CN
host-suffix,bb,TLD_Not_CN
host-suffix,bd,TLD_Not_CN
host-suffix,be,TLD_Not_CN
host-suffix,bf,TLD_Not_CN
host-suffix,bg,TLD_Not_CN
host-suffix,bh,TLD_Not_CN
host-suffix,bi,TLD_Not_CN
host-suffix,bj,TLD_Not_CN
host-suffix,bm,TLD_Not_CN
host-suffix,bn,TLD_Not_CN
host-suffix,bo,TLD_Not_CN
host-suffix,br,TLD_Not_CN
host-suffix,bs,TLD_Not_CN
host-suffix,bt,TLD_Not_CN
host-suffix,bv,TLD_Not_CN
host-suffix,bw,TLD_Not_CN
host-suffix,by,TLD_Not_CN
host-suffix,bz,TLD_Not_CN
host-suffix,ca,TLD_Not_CN
host-suffix,cd,TLD_Not_CN
host-suffix,cf,TLD_Not_CN
host-suffix,cg,TLD_Not_CN
host-suffix,ch,TLD_Not_CN
host-suffix,ci,TLD_Not_CN
host-suffix,ck,TLD_Not_CN
host-suffix,cl,TLD_Not_CN
host-suffix,cm,TLD_Not_CN
host-suffix,cr,TLD_Not_CN
host-suffix,cu,TLD_Not_CN
host-suffix,cv,TLD_Not_CN
host-suffix,cw,TLD_Not_CN
host-suffix,cx,TLD_Not_CN
host-suffix,cy,TLD_Not_CN
host-suffix,cz,TLD_Not_CN
host-suffix,de,TLD_Not_CN
host-suffix,dj,TLD_Not_CN
host-suffix,dk,TLD_Not_CN
host-suffix,dm,TLD_Not_CN
host-suffix,do,TLD_Not_CN
host-suffix,dz,TLD_Not_CN
host-suffix,ec,TLD_Not_CN
host-suffix,ee,TLD_Not_CN
host-suffix,eg,TLD_Not_CN
host-suffix,er,TLD_Not_CN
host-suffix,es,TLD_Not_CN
host-suffix,et,TLD_Not_CN
host-suffix,eu,TLD_Not_CN
host-suffix,fi,TLD_Not_CN
host-suffix,fj,TLD_Not_CN
host-suffix,fk,TLD_Not_CN
host-suffix,fm,TLD_Not_CN
host-suffix,fo,TLD_Not_CN
host-suffix,fr,TLD_Not_CN
host-suffix,ga,TLD_Not_CN
host-suffix,gb,TLD_Not_CN
host-suffix,gd,TLD_Not_CN
host-suffix,ge,TLD_Not_CN
host-suffix,gf,TLD_Not_CN
host-suffix,gg,TLD_Not_CN
host-suffix,gh,TLD_Not_CN
host-suffix,gi,TLD_Not_CN
host-suffix,gl,TLD_Not_CN
host-suffix,gm,TLD_Not_CN
host-suffix,gn,TLD_Not_CN
host-suffix,gp,TLD_Not_CN
host-suffix,gr,TLD_Not_CN
host-suffix,gs,TLD_Not_CN
host-suffix,gt,TLD_Not_CN
host-suffix,gu,TLD_Not_CN
host-suffix,gw,TLD_Not_CN
host-suffix,gy,TLD_Not_CN
host-suffix,hm,TLD_Not_CN
host-suffix,hn,TLD_Not_CN
host-suffix,hr,TLD_Not_CN
host-suffix,ht,TLD_Not_CN
host-suffix,hu,TLD_Not_CN
host-suffix,id,TLD_Not_CN
host-suffix,ie,TLD_Not_CN
host-suffix,il,TLD_Not_CN
host-suffix,im,TLD_Not_CN
host-suffix,in,TLD_Not_CN
host-suffix,io,TLD_Not_CN
host-suffix,iq,TLD_Not_CN
host-suffix,ir,TLD_Not_CN
host-suffix,is,TLD_Not_CN
host-suffix,it,TLD_Not_CN
host-suffix,je,TLD_Not_CN
host-suffix,jm,TLD_Not_CN
host-suffix,jo,TLD_Not_CN
host-suffix,jp,TLD_Not_CN
host-suffix,ke,TLD_Not_CN
host-suffix,kg,TLD_Not_CN
host-suffix,kh,TLD_Not_CN
host-suffix,ki,TLD_Not_CN
host-suffix,km,TLD_Not_CN
host-suffix,kn,TLD_Not_CN
host-suffix,kp,TLD_Not_CN
host-suffix,kr,TLD_Not_CN
host-suffix,kw,TLD_Not_CN
host-suffix,ky,TLD_Not_CN
host-suffix,kz,TLD_Not_CN
host-suffix,la,TLD_Not_CN
host-suffix,lb,TLD_Not_CN
host-suffix,lc,TLD_Not_CN
host-suffix,li,TLD_Not_CN
host-suffix,lk,TLD_Not_CN
host-suffix,lr,TLD_Not_CN
host-suffix,ls,TLD_Not_CN
host-suffix,lt,TLD_Not_CN
host-suffix,lu,TLD_Not_CN
host-suffix,lv,TLD_Not_CN
host-suffix,ly,TLD_Not_CN
host-suffix,ma,TLD_Not_CN
host-suffix,mc,TLD_Not_CN
host-suffix,md,TLD_Not_CN
host-suffix,mg,TLD_Not_CN
host-suffix,mh,TLD_Not_CN
host-suffix,mk,TLD_Not_CN
host-suffix,ml,TLD_Not_CN
host-suffix,mm,TLD_Not_CN
host-suffix,mn,TLD_Not_CN
host-suffix,mo,TLD_Not_CN
host-suffix,mp,TLD_Not_CN
host-suffix,mq,TLD_Not_CN
host-suffix,mr,TLD_Not_CN
host-suffix,ms,TLD_Not_CN
host-suffix,mt,TLD_Not_CN
host-suffix,mu,TLD_Not_CN
host-suffix,mv,TLD_Not_CN
host-suffix,mw,TLD_Not_CN
host-suffix,mx,TLD_Not_CN
host-suffix,my,TLD_Not_CN
host-suffix,mz,TLD_Not_CN
host-suffix,na,TLD_Not_CN
host-suffix,nc,TLD_Not_CN
host-suffix,ne,TLD_Not_CN
host-suffix,nf,TLD_Not_CN
host-suffix,ng,TLD_Not_CN
host-suffix,ni,TLD_Not_CN
host-suffix,nl,TLD_Not_CN
host-suffix,no,TLD_Not_CN
host-suffix,np,TLD_Not_CN
host-suffix,nr,TLD_Not_CN
host-suffix,nu,TLD_Not_CN
host-suffix,nz,TLD_Not_CN
host-suffix,om,TLD_Not_CN
host-suffix,pa,TLD_Not_CN
host-suffix,pe,TLD_Not_CN
host-suffix,pf,TLD_Not_CN
host-suffix,pg,TLD_Not_CN
host-suffix,ph,TLD_Not_CN
host-suffix,pk,TLD_Not_CN
host-suffix,pl,TLD_Not_CN
host-suffix,pm,TLD_Not_CN
host-suffix,pn,TLD_Not_CN
host-suffix,pr,TLD_Not_CN
host-suffix,ps,TLD_Not_CN
host-suffix,pt,TLD_Not_CN
host-suffix,py,TLD_Not_CN
host-suffix,qa,TLD_Not_CN
host-suffix,re,TLD_Not_CN
host-suffix,ro,TLD_Not_CN
host-suffix,rs,TLD_Not_CN
host-suffix,rw,TLD_Not_CN
host-suffix,sa,TLD_Not_CN
host-suffix,sb,TLD_Not_CN
host-suffix,sc,TLD_Not_CN
host-suffix,sd,TLD_Not_CN
host-suffix,se,TLD_Not_CN
host-suffix,sg,TLD_Not_CN
host-suffix,sh,TLD_Not_CN
host-suffix,si,TLD_Not_CN
host-suffix,sj,TLD_Not_CN
host-suffix,sk,TLD_Not_CN
host-suffix,sl,TLD_Not_CN
host-suffix,sm,TLD_Not_CN
host-suffix,sn,TLD_Not_CN
host-suffix,so,TLD_Not_CN
host-suffix,sr,TLD_Not_CN
host-suffix,ss,TLD_Not_CN
host-suffix,st,TLD_Not_CN
host-suffix,sv,TLD_Not_CN
host-suffix,sx,TLD_Not_CN
host-suffix,sy,TLD_Not_CN
host-suffix,sz,TLD_Not_CN
host-suffix,tc,TLD_Not_CN
host-suffix,td,TLD_Not_CN
host-suffix,tf,TLD_Not_CN
host-suffix,tg,TLD_Not_CN
host-suffix,th,TLD_Not_CN
host-suffix,tj,TLD_Not_CN
host-suffix,tk,TLD_Not_CN
host-suffix,tl,TLD_Not_CN
host-suffix,tm,TLD_Not_CN
host-suffix,tn,TLD_Not_CN
host-suffix,to,TLD_Not_CN
host-suffix,tr,TLD_Not_CN
host-suffix,tt,TLD_Not_CN
host-suffix,tw,TLD_Not_CN
host-suffix,tz,TLD_Not_CN
host-suffix,ua,TLD_Not_CN
host-suffix,ug,TLD_Not_CN
host-suffix,uk,TLD_Not_CN
host-suffix,us,TLD_Not_CN
host-suffix,uy,TLD_Not_CN
host-suffix,uz,TLD_Not_CN
host-suffix,va,TLD_Not_CN
host-suffix,vc,TLD_Not_CN
host-suffix,ve,TLD_Not_CN
host-suffix,vg,TLD_Not_CN
host-suffix,vi,TLD_Not_CN
host-suffix,vn,TLD_Not_CN
host-suffix,vu,TLD_Not_CN
host-suffix,wf,TLD_Not_CN
host-suffix,ws,TLD_Not_CN
host-suffix,ye,TLD_Not_CN
host-suffix,yt,TLD_Not_CN
host-suffix,za,TLD_Not_CN
host-suffix,zm,TLD_Not_CN
host-suffix,zw,TLD_Not_CN
host-suffix,afl,TLD_Not_CN
host-suffix,mlb,TLD_Not_CN
host-suffix,nba,TLD_Not_CN
host-suffix,nfl,TLD_Not_CN
host-suffix,nra,TLD_Not_CN
host-suffix,crs,TLD_Not_CN
host-suffix,dnp,TLD_Not_CN
host-suffix,dvag,TLD_Not_CN
host-suffix,erni,TLD_Not_CN
host-suffix,ice,TLD_Not_CN
host-suffix,locus,TLD_Not_CN
host-suffix,mckinsey,TLD_Not_CN
host-suffix,olayangroup,TLD_Not_CN
host-suffix,olayan,TLD_Not_CN
host-suffix,praxi,TLD_Not_CN
host-suffix,sap,TLD_Not_CN
host-suffix,seek,TLD_Not_CN
host-suffix,wtc,TLD_Not_CN
host-suffix,xerox,TLD_Not_CN
host-suffix,athleta,TLD_Not_CN
host-suffix,bloomberg,TLD_Not_CN
host-suffix,calvinklein,TLD_Not_CN
host-suffix,gap,TLD_Not_CN
host-suffix,gucci,TLD_Not_CN
host-suffix,hermes,TLD_Not_CN
host-suffix,lancaster,TLD_Not_CN
host-suffix,lipsy,TLD_Not_CN
host-suffix,mango,TLD_Not_CN
host-suffix,nextdirect,TLD_Not_CN
host-suffix,next,TLD_Not_CN
host-suffix,nike,TLD_Not_CN
host-suffix,omega,TLD_Not_CN
host-suffix,redstone,TLD_Not_CN
host-suffix,swatch,TLD_Not_CN
host-suffix,africa,TLD_Not_CN
host-suffix,capetown,TLD_Not_CN
host-suffix,durban,TLD_Not_CN
host-suffix,joburg,TLD_Not_CN
host-suffix,abudhabi,TLD_Not_CN
host-suffix,arab,TLD_Not_CN
host-suffix,dubai,TLD_Not_CN
host-suffix,krd,TLD_Not_CN
host-suffix,kyoto,TLD_Not_CN
host-suffix,nagoya,TLD_Not_CN
host-suffix,okinawa,TLD_Not_CN
host-suffix,osaka,TLD_Not_CN
host-suffix,ryukyu,TLD_Not_CN
host-suffix,taipei,TLD_Not_CN
host-suffix,tokyo,TLD_Not_CN
host-suffix,yokohama,TLD_Not_CN
host-suffix,alsace,TLD_Not_CN
host-suffix,amsterdam,TLD_Not_CN
host-suffix,bar,TLD_Not_CN
host-suffix,barcelona,TLD_Not_CN
host-suffix,bayern,TLD_Not_CN
host-suffix,bcn,TLD_Not_CN
host-suffix,berlin,TLD_Not_CN
host-suffix,brussels,TLD_Not_CN
host-suffix,bzh,TLD_Not_CN
host-suffix,cat,TLD_Not_CN
host-suffix,corsica,TLD_Not_CN
host-suffix,cymru,TLD_Not_CN
host-suffix,eus,TLD_Not_CN
host-suffix,frl,TLD_Not_CN
host-suffix,gal,TLD_Not_CN
host-suffix,gent,TLD_Not_CN
host-suffix,hamburg,TLD_Not_CN
host-suffix,helsinki,TLD_Not_CN
host-suffix,irish,TLD_Not_CN
host-suffix,ist,TLD_Not_CN
host-suffix,istanbul,TLD_Not_CN
host-suffix,koeln,TLD_Not_CN
host-suffix,london,TLD_Not_CN
host-suffix,madrid,TLD_Not_CN
host-suffix,nrw,TLD_Not_CN
host-suffix,paris,TLD_Not_CN
host-suffix,ruhr,TLD_Not_CN
host-suffix,saarland,TLD_Not_CN
host-suffix,scot,TLD_Not_CN
host-suffix,stockholm,TLD_Not_CN
host-suffix,swiss,TLD_Not_CN
host-suffix,tirol,TLD_Not_CN
host-suffix,vlaanderen,TLD_Not_CN
host-suffix,wales,TLD_Not_CN
host-suffix,wien,TLD_Not_CN
host-suffix,zuerich,TLD_Not_CN
host-suffix,boston,TLD_Not_CN
host-suffix,miami,TLD_Not_CN
host-suffix,nyc,TLD_Not_CN
host-suffix,quebec,TLD_Not_CN
host-suffix,vegas,TLD_Not_CN
host-suffix,kiwi,TLD_Not_CN
host-suffix,melbourne,TLD_Not_CN
host-suffix,sydney,TLD_Not_CN
host-suffix,lat,TLD_Not_CN
host-suffix,rio,TLD_Not_CN
host-suffix,aarp,TLD_Not_CN
host-suffix,abbott,TLD_Not_CN
host-suffix,abbvie,TLD_Not_CN
host-suffix,aetna,TLD_Not_CN
host-suffix,bms,TLD_Not_CN
host-suffix,boehringer,TLD_Not_CN
host-suffix,dabur,TLD_Not_CN
host-suffix,fresenius,TLD_Not_CN
host-suffix,jnj,TLD_Not_CN
host-suffix,sanofi,TLD_Not_CN
host-suffix,aeg,TLD_Not_CN
host-suffix,airbus,TLD_Not_CN
host-suffix,alstom,TLD_Not_CN
host-suffix,aramco,TLD_Not_CN
host-suffix,bosch,TLD_Not_CN
host-suffix,bostik,TLD_Not_CN
host-suffix,crown,TLD_Not_CN
host-suffix,dupont,TLD_Not_CN
host-suffix,flir,TLD_Not_CN
host-suffix,grainger,TLD_Not_CN
host-suffix,hitachi,TLD_Not_CN
host-suffix,ifm,TLD_Not_CN
host-suffix,ipiranga,TLD_Not_CN
host-suffix,jio,TLD_Not_CN
host-suffix,komatsu,TLD_Not_CN
host-suffix,kuokgroup,TLD_Not_CN
host-suffix,leclerc,TLD_Not_CN
host-suffix,lidl,TLD_Not_CN
host-suffix,lotte,TLD_Not_CN
host-suffix,man,TLD_Not_CN
host-suffix,mtr,TLD_Not_CN
host-suffix,reliance,TLD_Not_CN
host-suffix,rexroth,TLD_Not_CN
host-suffix,ril,TLD_Not_CN
host-suffix,rwe,TLD_Not_CN
host-suffix,sandvikcoromant,TLD_Not_CN
host-suffix,sandvik,TLD_Not_CN
host-suffix,schaeffler,TLD_Not_CN
host-suffix,schmidt,TLD_Not_CN
host-suffix,schwarz,TLD_Not_CN
host-suffix,sener,TLD_Not_CN
host-suffix,sew,TLD_Not_CN
host-suffix,sncf,TLD_Not_CN
host-suffix,total,TLD_Not_CN
host-suffix,walter,TLD_Not_CN
host-suffix,weber,TLD_Not_CN
host-suffix,weir,TLD_Not_CN
host-suffix,woodside,TLD_Not_CN
host-suffix,zara,TLD_Not_CN
host-suffix,agakhan,TLD_Not_CN
host-suffix,akdn,TLD_Not_CN
host-suffix,bharti,TLD_Not_CN
host-suffix,bingo,TLD_Not_CN
host-suffix,casa,TLD_Not_CN
host-suffix,casino,TLD_Not_CN
host-suffix,dating,TLD_Not_CN
host-suffix,domains,TLD_Not_CN
host-suffix,extraspace,TLD_Not_CN
host-suffix,gay,TLD_Not_CN
host-suffix,genting,TLD_Not_CN
host-suffix,hot,TLD_Not_CN
host-suffix,ikano,TLD_Not_CN
host-suffix,imamat,TLD_Not_CN
host-suffix,lgbt,TLD_Not_CN
host-suffix,maif,TLD_Not_CN
host-suffix,mattel,TLD_Not_CN
host-suffix,moe,TLD_Not_CN
host-suffix,sas,TLD_Not_CN
host-suffix,shell,TLD_Not_CN
host-suffix,shia,TLD_Not_CN
host-suffix,style,TLD_Not_CN
host-suffix,sucks,TLD_Not_CN
host-suffix,tattoo,TLD_Not_CN
host-suffix,vana,TLD_Not_CN
host-suffix,vodka,TLD_Not_CN
host-suffix,wine,TLD_Not_CN
host-suffix,wme,TLD_Not_CN
host-suffix,wtf,TLD_Not_CN
host-suffix,bible,TLD_Not_CN
host-suffix,catholic,TLD_Not_CN
host-suffix,ismaili,TLD_Not_CN
host-suffix,xn--mgbi4ecexp,TLD_Not_CN
host-suffix,cern,TLD_Not_CN
host-suffix,emerck,TLD_Not_CN
host-suffix,hisamitsu,TLD_Not_CN
host-suffix,lilly,TLD_Not_CN
host-suffix,lundbeck,TLD_Not_CN
host-suffix,merckmsd,TLD_Not_CN
host-suffix,msd,TLD_Not_CN
host-suffix,otsuka,TLD_Not_CN
host-suffix,pfizer,TLD_Not_CN
host-suffix,stada,TLD_Not_CN
host-suffix,teva,TLD_Not_CN
host-suffix,toray,TLD_Not_CN
host-suffix,weather,TLD_Not_CN
host-suffix,adult,TLD_Not_CN
host-suffix,porn,TLD_Not_CN
host-suffix,sex,TLD_Not_CN
host-suffix,sexy,TLD_Not_CN
host-suffix,xxx,TLD_Not_CN
host-suffix,auspost,TLD_Not_CN
host-suffix,dhl,TLD_Not_CN
host-suffix,fedex,TLD_Not_CN
host-suffix,xn--lgbbat1ad8j,TLD_Not_CN
host-suffix,xn--y9a3aq,TLD_Not_CN
host-suffix,xn--mgbcpq6gpa1a,TLD_Not_CN
host-suffix,xn--54b7fta0cc,TLD_Not_CN
host-suffix,xn--90ais,TLD_Not_CN
host-suffix,xn--90ae,TLD_Not_CN
host-suffix,xn--wgbh1c,TLD_Not_CN
host-suffix,xn--e1a4c,TLD_Not_CN
host-suffix,xn--qxa6a,TLD_Not_CN
host-suffix,xn--node,TLD_Not_CN
host-suffix,xn--qxam,TLD_Not_CN
host-suffix,xn--4dbrk0ce,TLD_Not_CN
host-suffix,xn--h2brj9c,TLD_Not_CN
host-suffix,xn--mgbbh1a71e,TLD_Not_CN
host-suffix,xn--fpcrj9c3d,TLD_Not_CN
host-suffix,xn--gecrj9c,TLD_Not_CN
host-suffix,xn--s9brj9c,TLD_Not_CN
host-suffix,xn--45brj9c,TLD_Not_CN
host-suffix,xn--xkc2dl3a5ee0h,TLD_Not_CN
host-suffix,xn--2scrj9c,TLD_Not_CN
host-suffix,xn--rvc1e0am3e,TLD_Not_CN
host-suffix,xn--45br5cyl,TLD_Not_CN
host-suffix,xn--3hcrj9c,TLD_Not_CN
host-suffix,xn--mgbbh1a,TLD_Not_CN
host-suffix,xn--h2breg3eve,TLD_Not_CN
host-suffix,xn--h2brj9c8c,TLD_Not_CN
host-suffix,xn--mgbgu82a,TLD_Not_CN
host-suffix,xn--mgba3a4f16a,TLD_Not_CN
host-suffix,xn--mgbtx2b,TLD_Not_CN
host-suffix,xn--mgbayh7gpa,TLD_Not_CN
host-suffix,xn--80ao21a,TLD_Not_CN
host-suffix,xn--3e0b707e,TLD_Not_CN
host-suffix,xn--q7ce6a,TLD_Not_CN
host-suffix,xn--mix891f,TLD_Not_CN
host-suffix,xn--mix082f,TLD_Not_CN
host-suffix,xn--d1alf,TLD_Not_CN
host-suffix,xn--mgbx4cd0ab,TLD_Not_CN
host-suffix,xn--mgbah1a3hjkrd,TLD_Not_CN
host-suffix,xn--l1acc,TLD_Not_CN
host-suffix,xn--mgbc0a9azcg,TLD_Not_CN
host-suffix,xn--mgb9awbf,TLD_Not_CN
host-suffix,xn--mgbai9azgqp6j,TLD_Not_CN
host-suffix,xn--mgbai9a5eva00b,TLD_Not_CN
host-suffix,xn--ygbi2ammx,TLD_Not_CN
host-suffix,xn--wgbl6a,TLD_Not_CN
host-suffix,xn--mgberp4a5d4ar,TLD_Not_CN
host-suffix,xn--mgberp4a5d4a87g,TLD_Not_CN
host-suffix,xn--mgbqly7c0a67fbc,TLD_Not_CN
host-suffix,xn--mgbqly7cvafr,TLD_Not_CN
host-suffix,xn--90a3ac,TLD_Not_CN
host-suffix,xn--yfro4i67o,TLD_Not_CN
host-suffix,xn--fzc2c9e2c,TLD_Not_CN
host-suffix,xn--mgbpl2fh,TLD_Not_CN
host-suffix,xn--ogbpf8fl,TLD_Not_CN
host-suffix,xn--mgbtf8fl,TLD_Not_CN
host-suffix,xn--kpry57d,TLD_Not_CN
host-suffix,xn--kprw13d,TLD_Not_CN
host-suffix,xn--nnx388a,TLD_Not_CN
host-suffix,xn--o3cw4h,TLD_Not_CN
host-suffix,xn--pgbs0dh,TLD_Not_CN
host-suffix,xn--j1amh,TLD_Not_CN
host-suffix,xn--mgbaam7a8h,TLD_Not_CN
host-suffix,xn--mgb2ddes,TLD_Not_CN
host-suffix,aaa,TLD_Not_CN
host-suffix,audi,TLD_Not_CN
host-suffix,bentley,TLD_Not_CN
host-suffix,bmw,TLD_Not_CN
host-suffix,bridgestone,TLD_Not_CN
host-suffix,case,TLD_Not_CN
host-suffix,datsun,TLD_Not_CN
host-suffix,dunlop,TLD_Not_CN
host-suffix,ferrari,TLD_Not_CN
host-suffix,firestone,TLD_Not_CN
host-suffix,ford,TLD_Not_CN
host-suffix,goodyear,TLD_Not_CN
host-suffix,honda,TLD_Not_CN
host-suffix,hyundai,TLD_Not_CN
host-suffix,infiniti,TLD_Not_CN
host-suffix,jaguar,TLD_Not_CN
host-suffix,jeep,TLD_Not_CN
host-suffix,kia,TLD_Not_CN
host-suffix,lamborghini,TLD_Not_CN
host-suffix,landrover,TLD_Not_CN
host-suffix,lexus,TLD_Not_CN
host-suffix,lincoln,TLD_Not_CN
host-suffix,mini,TLD_Not_CN
host-suffix,mitsubishi,TLD_Not_CN
host-suffix,nissan,TLD_Not_CN
host-suffix,seat,TLD_Not_CN
host-suffix,suzuki,TLD_Not_CN
host-suffix,tatamotors,TLD_Not_CN
host-suffix,toyota,TLD_Not_CN
host-suffix,tvs,TLD_Not_CN
host-suffix,volvo,TLD_Not_CN
host-suffix,android,TLD_Not_CN
host-suffix,apple,TLD_Not_CN
host-suffix,bestbuy,TLD_Not_CN
host-suffix,brother,TLD_Not_CN
host-suffix,canon,TLD_Not_CN
host-suffix,dell,TLD_Not_CN
host-suffix,fujitsu,TLD_Not_CN
host-suffix,goldpoint,TLD_Not_CN
host-suffix,ibm,TLD_Not_CN
host-suffix,nikon,TLD_Not_CN
host-suffix,nokia,TLD_Not_CN
host-suffix,panasonic,TLD_Not_CN
host-suffix,philips,TLD_Not_CN
host-suffix,pioneer,TLD_Not_CN
host-suffix,samsung,TLD_Not_CN
host-suffix,sharp,TLD_Not_CN
host-suffix,sony,TLD_Not_CN
host-suffix,toshiba,TLD_Not_CN
host-suffix,yodobashi,TLD_Not_CN
host-suffix,allfinanz,TLD_Not_CN
host-suffix,ally,TLD_Not_CN
host-suffix,americanexpress,TLD_Not_CN
host-suffix,amex,TLD_Not_CN
host-suffix,anz,TLD_Not_CN
host-suffix,banamex,TLD_Not_CN
host-suffix,barclaycard,TLD_Not_CN
host-suffix,barclays,TLD_Not_CN
host-suffix,bbt,TLD_Not_CN
host-suffix,bbva,TLD_Not_CN
host-suffix,bnpparibas,TLD_Not_CN
host-suffix,bofa,TLD_Not_CN
host-suffix,bradesco,TLD_Not_CN
host-suffix,capitalone,TLD_Not_CN
host-suffix,cba,TLD_Not_CN
host-suffix,cfa,TLD_Not_CN
host-suffix,citadel,TLD_Not_CN
host-suffix,citi,TLD_Not_CN
host-suffix,commbank,TLD_Not_CN
host-suffix,deloitte,TLD_Not_CN
host-suffix,discover,TLD_Not_CN
host-suffix,fidelity,TLD_Not_CN
host-suffix,hdfcbank,TLD_Not_CN
host-suffix,hdfc,TLD_Not_CN
host-suffix,hsbc,TLD_Not_CN
host-suffix,itau,TLD_Not_CN
host-suffix,jcb,TLD_Not_CN
host-suffix,jll,TLD_Not_CN
host-suffix,kfh,TLD_Not_CN
host-suffix,kpmg,TLD_Not_CN
host-suffix,lacaixa,TLD_Not_CN
host-suffix,lasalle,TLD_Not_CN
host-suffix,lplfinancial,TLD_Not_CN
host-suffix,lpl,TLD_Not_CN
host-suffix,nab,TLD_Not_CN
host-suffix,netbank,TLD_Not_CN
host-suffix,open,TLD_Not_CN
host-suffix,pictet,TLD_Not_CN
host-suffix,pnc,TLD_Not_CN
host-suffix,pohl,TLD_Not_CN
host-suffix,pramerica,TLD_Not_CN
host-suffix,prudential,TLD_Not_CN
host-suffix,pru,TLD_Not_CN
host-suffix,pwc,TLD_Not_CN
host-suffix,sbi,TLD_Not_CN
host-suffix,scb,TLD_Not_CN
host-suffix,softbank,TLD_Not_CN
host-suffix,statebank,TLD_Not_CN
host-suffix,temasek,TLD_Not_CN
host-suffix,ubank,TLD_Not_CN
host-suffix,ubs,TLD_Not_CN
host-suffix,vanguard,TLD_Not_CN
host-suffix,visa,TLD_Not_CN
host-suffix,wolterskluwer,TLD_Not_CN
host-suffix,aquarelle,TLD_Not_CN
host-suffix,diy,TLD_Not_CN
host-suffix,homedepot,TLD_Not_CN
host-suffix,homegoods,TLD_Not_CN
host-suffix,aig,TLD_Not_CN
host-suffix,allstate,TLD_Not_CN
host-suffix,americanfamily,TLD_Not_CN
host-suffix,amfam,TLD_Not_CN
host-suffix,amica,TLD_Not_CN
host-suffix,axa,TLD_Not_CN
host-suffix,farmers,TLD_Not_CN
host-suffix,mma,TLD_Not_CN
host-suffix,nissay,TLD_Not_CN
host-suffix,progressive,TLD_Not_CN
host-suffix,redumbrella,TLD_Not_CN
host-suffix,statefarm,TLD_Not_CN
host-suffix,tiaa,TLD_Not_CN
host-suffix,travelersinsurance,TLD_Not_CN
host-suffix,travelers,TLD_Not_CN
host-suffix,trv,TLD_Not_CN
host-suffix,vig,TLD_Not_CN
host-suffix,beats,TLD_Not_CN
host-suffix,blockbuster,TLD_Not_CN
host-suffix,netflix,TLD_Not_CN
host-suffix,playstation,TLD_Not_CN
host-suffix,tab,TLD_Not_CN
host-suffix,williamhill,TLD_Not_CN
host-suffix,xbox,TLD_Not_CN
host-suffix,asda,TLD_Not_CN
host-suffix,george,TLD_Not_CN
host-suffix,homesense,TLD_Not_CN
host-suffix,lego,TLD_Not_CN
host-suffix,marshalls,TLD_Not_CN
host-suffix,obi,TLD_Not_CN
host-suffix,samsclub,TLD_Not_CN
host-suffix,staples,TLD_Not_CN
host-suffix,target,TLD_Not_CN
host-suffix,thd,TLD_Not_CN
host-suffix,tjmaxx,TLD_Not_CN
host-suffix,tjx,TLD_Not_CN
host-suffix,tkmaxx,TLD_Not_CN
host-suffix,walmart,TLD_Not_CN
host-suffix,abb,TLD_Not_CN
host-suffix,accenture,TLD_Not_CN
host-suffix,aco,TLD_Not_CN
host-suffix,airtel,TLD_Not_CN
host-suffix,amazon,TLD_Not_CN
host-suffix,aol,TLD_Not_CN
host-suffix,aws,TLD_Not_CN
host-suffix,azure,TLD_Not_CN
host-suffix,bing,TLD_Not_CN
host-suffix,chrome,TLD_Not_CN
host-suffix,cisco,TLD_Not_CN
host-suffix,dclk,TLD_Not_CN
host-suffix,dish,TLD_Not_CN
host-suffix,dtv,TLD_Not_CN
host-suffix,epson,TLD_Not_CN
host-suffix,ericsson,TLD_Not_CN
host-suffix,fairwinds,TLD_Not_CN
host-suffix,fido,TLD_Not_CN
host-suffix,flickr,TLD_Not_CN
host-suffix,frogans,TLD_Not_CN
host-suffix,frontier,TLD_Not_CN
host-suffix,ftr,TLD_Not_CN
host-suffix,gbiz,TLD_Not_CN
host-suffix,gea,TLD_Not_CN
host-suffix,ggee,TLD_Not_CN
host-suffix,gle,TLD_Not_CN
host-suffix,gmail,TLD_Not_CN
host-suffix,gmo,TLD_Not_CN
host-suffix,gmx,TLD_Not_CN
host-suffix,godaddy,TLD_Not_CN
host-suffix,goog,TLD_Not_CN
host-suffix,google,TLD_Not_CN
host-suffix,guge,TLD_Not_CN
host-suffix,hangout,TLD_Not_CN
host-suffix,hkt,TLD_Not_CN
host-suffix,hotmail,TLD_Not_CN
host-suffix,hughes,TLD_Not_CN
host-suffix,ieee,TLD_Not_CN
host-suffix,intuit,TLD_Not_CN
host-suffix,java,TLD_Not_CN
host-suffix,jmp,TLD_Not_CN
host-suffix,jprs,TLD_Not_CN
host-suffix,juniper,TLD_Not_CN
host-suffix,kddi,TLD_Not_CN
host-suffix,kindle,TLD_Not_CN
host-suffix,kpn,TLD_Not_CN
host-suffix,lanxess,TLD_Not_CN
host-suffix,locker,TLD_Not_CN
host-suffix,microsoft,TLD_Not_CN
host-suffix,mint,TLD_Not_CN
host-suffix,mit,TLD_Not_CN
host-suffix,mtn,TLD_Not_CN
host-suffix,nec,TLD_Not_CN
host-suffix,neustar,TLD_Not_CN
host-suffix,nexus,TLD_Not_CN
host-suffix,nico,TLD_Not_CN
host-suffix,norton,TLD_Not_CN
host-suffix,ntt,TLD_Not_CN
host-suffix,office,TLD_Not_CN
host-suffix,ollo,TLD_Not_CN
host-suffix,oracle,TLD_Not_CN
host-suffix,orange,TLD_Not_CN
host-suffix,ovh,TLD_Not_CN
host-suffix,pccw,TLD_Not_CN
host-suffix,richardli,TLD_Not_CN
host-suffix,ricoh,TLD_Not_CN
host-suffix,rogers,TLD_Not_CN
host-suffix,sakura,TLD_Not_CN
host-suffix,sfr,TLD_Not_CN
host-suffix,shaw,TLD_Not_CN
host-suffix,skype,TLD_Not_CN
host-suffix,sling,TLD_Not_CN
host-suffix,smart,TLD_Not_CN
host-suffix,stcgroup,TLD_Not_CN
host-suffix,stc,TLD_Not_CN
host-suffix,tci,TLD_Not_CN
host-suffix,tdk,TLD_Not_CN
host-suffix,uol,TLD_Not_CN
host-suffix,verisign,TLD_Not_CN
host-suffix,viva,TLD_Not_CN
host-suffix,vivo,TLD_Not_CN
host-suffix,windows,TLD_Not_CN
host-suffix,yahoo,TLD_Not_CN
host-suffix,yamaxun,TLD_Not_CN
host-suffix,yandex,TLD_Not_CN
host-suffix,youtube,TLD_Not_CN
host-suffix,zappos,TLD_Not_CN
host-suffix,chanel,TLD_Not_CN
host-suffix,clinique,TLD_Not_CN
host-suffix,lamer,TLD_Not_CN
host-suffix,natura,TLD_Not_CN
host-suffix,origins,TLD_Not_CN
host-suffix,barefoot,TLD_Not_CN
host-suffix,cuisinella,TLD_Not_CN
host-suffix,edeka,TLD_Not_CN
host-suffix,fage,TLD_Not_CN
host-suffix,ferrero,TLD_Not_CN
host-suffix,food,TLD_Not_CN
host-suffix,gallo,TLD_Not_CN
host-suffix,xn--5su34j936bgsg,TLD_Not_CN
host-suffix,xn--b4w605ferd,TLD_Not_CN
host-suffix,xn--cckwcxetd,TLD_Not_CN
host-suffix,xn--cg4bki,TLD_Not_CN
host-suffix,xn--flw351e,TLD_Not_CN
host-suffix,xn--fzys8d69uvgm,TLD_Not_CN
host-suffix,xn--jlq480n2rg,TLD_Not_CN
host-suffix,xn--kcrx77d1x4a,TLD_Not_CN
host-suffix,xn--mgba3a3ejt,TLD_Not_CN
host-suffix,xn--mgba7c0bbn0a,TLD_Not_CN
host-suffix,xn--ngbe9e0a,TLD_Not_CN
host-suffix,xn--qcka1pmc,TLD_Not_CN
host-suffix,xn--w4r85el8fhu5dnra,TLD_Not_CN
host-suffix,xn--w4rs40l,TLD_Not_CN
host-suffix,caravan,TLD_Not_CN
host-suffix,cipriani,TLD_Not_CN
host-suffix,clubmed,TLD_Not_CN
host-suffix,delta,TLD_Not_CN
host-suffix,firmdale,TLD_Not_CN
host-suffix,hyatt,TLD_Not_CN
host-suffix,kerryhotels,TLD_Not_CN
host-suffix,kerryproperties,TLD_Not_CN
host-suffix,marriott,TLD_Not_CN
host-suffix,shangrila,TLD_Not_CN
host-suffix,tui,TLD_Not_CN
host-suffix,viking,TLD_Not_CN
host-suffix,virgin,TLD_Not_CN
host-suffix,able,TLD_Not_CN
host-suffix,cbre,TLD_Not_CN
host-suffix,chintai,TLD_Not_CN
host-suffix,lefrak,TLD_Not_CN
host-suffix,abc,TLD_Not_CN
host-suffix,arte,TLD_Not_CN
host-suffix,bbc,TLD_Not_CN
host-suffix,cbn,TLD_Not_CN
host-suffix,eurovision,TLD_Not_CN
host-suffix,fox,TLD_Not_CN
host-suffix,gallup,TLD_Not_CN
host-suffix,globo,TLD_Not_CN
host-suffix,hbo,TLD_Not_CN
host-suffix,imdb,TLD_Not_CN
host-suffix,itv,TLD_Not_CN
host-suffix,nhk,TLD_Not_CN
host-suffix,nowtv,TLD_Not_CN
host-suffix,sbs,TLD_Not_CN
host-suffix,seven,TLD_Not_CN
host-suffix,sky,TLD_Not_CN
host-suffix,weatherchannel,TLD_Not_CN
host-suffix,bauhaus,TLD_Not_CN
host-suffix,latrobe,TLD_Not_CN
host-suffix,monash,TLD_Not_CN
host-suffix,meme,TLD_Not_CN
host-suffix,ing,TLD_Not_CN
host-suffix,foo,TLD_Not_CN
host-suffix,zip,TLD_Not_CN
host-suffix,mov,TLD_Not_CN
host-suffix,dad,TLD_Not_CN
host-suffix,phd,TLD_Not_CN
host-suffix,prof,TLD_Not_CN
host-suffix,esq,TLD_Not_CN
host-suffix,rsvp,TLD_Not_CN
host-suffix,boo,TLD_Not_CN
host-suffix,day,TLD_Not_CN
host-suffix,new,TLD_Not_CN
host-suffix,dev,TLD_Not_CN
host-suffix,page,TLD_Not_CN
host-suffix,app,TLD_Not_CN
host-suffix,how,TLD_Not_CN
host-suffix,soy,TLD_Not_CN
host-suffix,xn--q9jyb4c,TLD_Not_CN
host-suffix,moscow,TLD_Not_CN
host-suffix,ru,TLD_Not_CN
host-suffix,su,TLD_Not_CN
host-suffix,tatar,TLD_Not_CN
host-suffix,xn--80adxhks,TLD_Not_CN
host-suffix,xn--80asehdb,TLD_Not_CN
host-suffix,xn--80aswg,TLD_Not_CN
host-suffix,xn--c1avg,TLD_Not_CN
host-suffix,xn--d1acj3b,TLD_Not_CN
host-suffix,xn--p1acf,TLD_Not_CN
host-suffix,xn--p1ai,TLD_Not_CN